allow recovery default_prop:property_service set; 
allow recovery media_rw_data_file:dir { getattr search }; 
allow recovery rootfs:dir { add_name create remove_name write };
allow recovery rootfs:file { create rename write }; 
allow recovery rootfs:lnk_file create; 
allow recovery self:netlink_kobject_uevent_socket read;
allow recovery selinuxfs:file write;
allow recovery system_radio_prop:property_service set;
allow recovery recovery:capability sys_time; 
allow recovery rootfs:fifo_file { create read open }; 
allow recovery mtp_device:chr_file { read write open }; 
allow recovery tmpfs:fifo_file create;
